NodeRed/flows.json
[{"id":"7f1d553e.d0616c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7b60c436.9223fc","type":"modbustcp-read","z":"7f1d553e.d0616c","name":"","topic":"","dataType":"HoldingRegister","adr":"0","quantity":"1","rate":"500","rateUnit":"ms","server":"113100fc.0eec3f","ieeeType":"off","ieeeBE":true,"x":330,"y":140,"wires":[["16bef9e5.1b8cc6"]]},{"id":"c0e0f351.f6c51","type":"ui_text","z":"7f1d553e.d0616c","group":"16a1f12d.07c69f","order":1,"width":"6","height":"2","name":"","label":"Contador","format":"{{msg.payload}}","layout":"col-center","x":680,"y":120,"wires":[]},{"id":"16bef9e5.1b8cc6","type":"split","z":"7f1d553e.d0616c","name":"","splt":"[","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"num","x":510,"y":140,"wires":[["c0e0f351.f6c51","70a2c7aa.892838"]]},{"id":"65170928.b01218","type":"ui_template","z":"7f1d553e.d0616c","group":"354b7ba.0fa2884","name":"","order":0,"width":0,"height":0,"format":"<iframe width=\"320\" height=\"240\" frameborder=\"0\" src=\"http://192.168.1.11:5000/video_feed\" allowfullscreen></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":500,"y":380,"wires":[[]]},{"id":"70a2c7aa.892838","type":"function","z":"7f1d553e.d0616c","name":"","func":"\nglobal.set(\"valor\",msg.payload)\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":180,"wires":[[]]},{"id":"b5d0f23e.ca0cf","type":"inject","z":"7f1d553e.d0616c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":280,"wires":[["17f462f6.657e1d"]]},{"id":"17f462f6.657e1d","type":"function","z":"7f1d553e.d0616c","name":"","func":"var atual=global.get(\"valor\")\nvar anterior=global.get(\"anterior\")\n\n\nmsg.payload=atual-anterior\n\nglobal.set(\"anterior\",atual)\n\nreturn msg\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"\n","finalize":"","libs":[],"x":500,"y":280,"wires":[["cddacf15.8f55a"]]},{"id":"cddacf15.8f55a","type":"ui_chart","z":"7f1d553e.d0616c","name":"","group":"cddf8e5a.542a2","order":0,"width":0,"height":0,"label":"Desempenho","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":690,"y":280,"wires":[[]]},{"id":"75059be3.c285f4","type":"modbustcp-write","z":"7f1d553e.d0616c","name":"","topic":"","dataType":"HoldingRegister","adr":"1","server":"113100fc.0eec3f","x":810,"y":480,"wires":[]},{"id":"9090fe58.52f98","type":"ui_button","z":"7f1d553e.d0616c","name":"","group":"16a1f12d.07c69f","order":1,"width":0,"height":0,"passthru":false,"label":"Zerar Contador","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Deseja realmente zerar o contador?","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":480,"wires":[["7937ddef.2e7c64"]]},{"id":"7937ddef.2e7c64","type":"ui_toast","z":"7f1d553e.d0616c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancelar","raw":false,"topic":"","name":"","x":390,"y":480,"wires":[["d955b441.36aec8"]]},{"id":"d955b441.36aec8","type":"change","z":"7f1d553e.d0616c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"OK","fromt":"str","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":480,"wires":[["75059be3.c285f4"]]},{"id":"113100fc.0eec3f","type":"modbustcp-server","name":"","host":"127.0.0.1","port":"1234","unit_id":"1","reconnecttimeout":""},{"id":"16a1f12d.07c69f","type":"ui_group","name":"Aviário 1","tab":"f136a522.adc2a8","order":1,"disp":false,"width":"6","collapse":false},{"id":"354b7ba.0fa2884","type":"ui_group","name":"Group 2","tab":"f136a522.adc2a8","order":2,"disp":false,"width":"6","collapse":false},{"id":"cddf8e5a.542a2","type":"ui_group","name":"Ultimo Dia","tab":"f136a522.adc2a8","order":3,"disp":false,"width":"6","collapse":false},{"id":"f136a522.adc2a8","type":"ui_tab","name":"Home","icon":"home","order":1}]